.Contain{
    margin:auto;
}
.main{
    display: flex;
   margin-top: 40px;
}
.hr1{
   
    margin: 30px;
    margin-left: 20px;
    border: 1px solid #891f24;
    width: 90vw;
    height: 0;
}
.beer{
    display: flex;
    justify-content: center;
    font-size:2.5rem;
    margin-left:20px ;
    color: #891f24;
    font-weight: bold;
}

