#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  /* body {
    font-family: 'Raleway', sans-serif;
    background-image:url('./background.jpg') ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    
  
  .midbg{
    background-image:url('./background.jpg') ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  
  }
  .midrange{
   background-color: #fff4e2;
    opacity: 0.3;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 65vh;
   width: 66%;
   position: absolute;
   z-index: 1;
  }

 
  .wordlogin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  }

  .slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
  }

  h1{
    color: #8B2227;
    font-size: 4vw;
    font-family: Gentium;
    position: relative;
    z-index: 10;
  }

  h2{
    color: #fff4e2;
    font-size: 4vw;
    font-family: Gentium;
  }

  h3{
    color: #f6e4c7;
    font-size: 4vw;
  }

  h4{
    color: #8B2227;
    font-size: 3vw;
    font-family: Gentium;
    letter-spacing: 0.5em;
  }

  .makeyourday{
    color: #5f432c;
    font-size: 2vw;
    font-family: Gentium;
  }

  input{
    width: 100%;;
    height: 5vh;
    border-radius: 60px;
    border: none;
    outline: none;
    background-color: #8B2227;
    margin-top: 2vh;
  }
  
  .signin{
    position: relative;
    z-index: 10;
  }

  .name{
    padding-left:40px;
    font-size: 18px;
    position: relative;
    z-index: 10;
   }
  
   button{
    width: 100%;
    height: 5vh;
    font-family: Arial;
    font-weight:bolder;
    font-size: medium;
    margin-top: 2vh;
   }

   .logicon{
    width:6vh;
    position: relative;
    z-index: 10;
   }

   .loginwith{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
   }

   .signup{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3vh;
    position: absolute;
    z-index: 10;
   }

   

  .forgot{
    display: flex;
    justify-content: flex-end; 
    margin-top: 1.5vh;
    z-index: 10;
  }

  
   .orword{
    margin-top: 3vh;
    color: #8B2227;
    font-size: 1.2vw;
    position: relative;
    z-index: 10;
    text-align: center;
   }

   .btn{
  color: #8B2227;
  background-color: #ffffff;
   }
   
   .btn:hover{
    color: #8B2227;
    background-color:#9f4b4f !important ;
    
   }