.Foot{
    display: grid;
    grid-template-columns: 65% 35%;
    /* margin-top: 5vh; */
}
.hr{
    border: 1px solid #000000;
    height: 0;
}
.Foot_content1{
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF4E2;
    border-top: 1px solid #000000;
}
.promblem{
color:#891f24 ;
font-size: 1.5rem;
font-weight: bold;
margin-top: 20px;
}
.content1{
    color: #9C9A9A;
    margin-top: 20px;
    margin-bottom: 10px;
}
.content2{
    color: #9C9A9A;
    margin-top: 20px;
    margin-bottom: 10px;
}
.content3{
    color: #9C9A9A;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Foot_content2{
    background-color: #891F24;
    border-top: 1px solid #000000;
}
.word{
    margin-top: 20px;
}
.number{
    display: flex;
    justify-content: center;
    color:#FFFFFF ;
    font-size: 1.2rem;
    }
.social{
    display: flex;
   justify-content:space-evenly;
   margin-top: 20px;
}
