.cartSummary {
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    cursor: pointer;
    margin-right: 15px;
  }
  
 
  @media (min-width: 768px) {
    .cartSummary {
       right: 1.5rem;
    }
  }
 